<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LCCPayrollSystem.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LCCPayrollSystem.My.MySettings.payrolldbConnectionString"
            connectionString="Data Source=DESKTOP-FL91M4S\SQLEXPRESS;Initial Catalog=payrolldb;User ID=sa;Password=systemadmin"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <LCCPayrollSystem.My.MySettings>
            <setting name="exp" serializeAs="String">
                <value>2023-06-12</value>
            </setting>
            <setting name="exp_msg" serializeAs="String">
                <value>Application is Expired!, Contact the Administrator</value>
            </setting>
        </LCCPayrollSystem.My.MySettings>
    </applicationSettings>
</configuration>